services:
  nginx:
    image: nginx:alpine
    ports:
      - "${HOST_FRONTEND_PORT:-8083}:${NGINX_FRONTEND_PORT:-80}"
      - "${HOST_API_PORT:-8006}:${NGINX_API_PORT:-8000}"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./staticfiles:/app/staticfiles
    environment:
      - NGINX_FRONTEND_PORT=${NGINX_FRONTEND_PORT:-80}
      - NGINX_API_PORT=${NGINX_API_PORT:-8000}
      - BACKEND_SERVICE=backend
      - BACKEND_PORT=${BACKEND_CONTAINER_PORT:-8006}
    depends_on:
      - backend
    networks:
      - app_network
    restart: unless-stopped

  backend:
    build:
      context: ./cfcbe
      args:
        - PORT=${BACKEND_CONTAINER_PORT:-8006}
    env_file:
      - ./cfcbe/.env
    environment:
      - PORT=${BACKEND_CONTAINER_PORT:-8006}
      - DJANGO_SETTINGS_MODULE=cfcbe.settings
      - DEBUG=${DEBUG:-True}
    command: >
      sh -c "gunicorn --bind 0.0.0.0:${BACKEND_CONTAINER_PORT:-8006} cfcbe.wsgi"
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    driver: bridge
    name: openchscfc_app_network
