@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-header: 'Fredoka', Roboto, 'sans-serif';
  --font-text: 'Open Sans', 'sans-serif';

    --color-subtitle:  #4C1D95;
    --color-button:  #ff8a80;
    --color-coral: #ff8a80;
    --color-cream: #fffde7;
  
}